{% extends 'base.html' %}

{% block content %}
<h1>Collection Items</h1>
<ul class="list-group">
    {% for item in items %}
    <li class="list-group-item">
        <h5>{{ item.title }}</h5>
        <p>
            <i class="bi bi-tag"></i> {{ item.raw_json.itemType }} |
            <i class="bi bi-person"></i> {{ item.raw_json.creators[0].lastName if item.raw_json.creators else 'Unknown' }} |
            <i class="bi bi-calendar"></i> {{ item.formatted_date }}
        </p>
        <p>{{ item.raw_json.abstractNote }}</p>
        <div class="mt-2">
            <a href="/zotero/item/{{ item.raw_json.key }}" class="btn btn-primary btn-sm">View</a>
            <button class="btn btn-secondary btn-sm">Summarize</button>
            <button class="btn btn-info btn-sm">Create Outline</button>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
